<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.buildenough.marketboard.post.mapper.PostMapper">

    <insert id="insertPost" parameterType="com.buildenough.marketboard.post.dto.PostWriteDto">
        INSERT INTO posts (
            member_id,
            title,
            content
        ) VALUES (
            #{memberId},
            #{title},
            #{content}
        )
    </insert>

    <select id="findAllPosts" resultType="com.buildenough.marketboard.post.dto.PostListDto">
        SELECT
            p.post_id,
            p.title,
            m.name AS write_name,
            p.view_count,
            p.created_at
        FROM posts p
            JOIN members m ON p.member_id = m.member_id
        where p.deleted_yn = 'N'
        order by p.post_id DESC
    </select>

    <select id="findPostById" parameterType="long" resultType="com.buildenough.marketboard.post.dto.PostDetailDto">
        SELECT
            p.post_id,
            p.member_id,
            p.title,
            p.content,
            m.name AS write_name,
            p.view_count,
            p.created_at,
            p.updated_at
        FROM posts p
            JOIN members m ON p.member_id = m.member_id
        where p.post_id = ${postId}
            AND p.deleted_yn = 'N'
    </select>

    <update id="increaseViewCount" parameterType="long">
        UPDATE posts
            SET view_count = view_count+1
        where post_id = #{postId}
            AND deleted_yn = 'N'
    </update>

    <update id="updatePost" parameterType="com.buildenough.marketboard.post.dto.PostUpdateDto">
        UPDATE posts
        SET
            title = #{title},
            content = #{content},
            updated_at = NOW()
        WHERE post_id = #{postId}
            AND member_id = #{memberId}
            AND deleted_yn = 'N'
    </update>
</mapper>